{% extends "base.html" %}
<html>
  {% block head %}
    <title></title>
    <meta content="Quirktonomicon Inventions List">
    <style></style>
  {% endblock head %}  
  {% block body %}
  <div id="content">

  <div id="idea_list">
    <h2>Invention Ideas</h2>
  
  <div id="navigation">
    <form method="GET" action="/ideas">
    <table>
    <tr>
    <td>
        Order by:<br />
        <div>
            <select name="order_by">
                <option value="votes_in_latest_day">Votes in last 24h</option>
                <option value="votes_count">Total votes</option>            
                <option value="created_at">Date posted</option>
            </select>
        
                <br />
        <select name="ascending">
                <option value="true">Ascending</option>
                <option value="false">Descending</option>
            </select>
        </div>
    </td>
    <td>
    Filter:<br />
        <div>
        All caps:
            <select name="allcaps">
                <option value=""></option>
                <option value="exclude">Exclude</option>
                <option value="require">Require</option>
            </select><br />
        Text content:
            <select>
                <option value=""></option>
                <option value="no-allcaps">Exclude</option>
                <option value="yes-allcaps">Require</option>
            </select>
        <input type="text" value=""></input>
        </div>
    </td>
    <td>
            <input type="submit" value="Go"></input>
    </td>
  </tr>
  </form>
  </table>
  {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/ideas?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/ideas?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  </div>

  <table id="idea_list_table">
  
  <tr>
    <th>
      Title
    </th>
    <th>
      Vote count
    </th>
    <th>
      Expires at
    </th>    
    <th>
      User
    </th>
    <th>
      View on Quirky
    </th>
    <th>
      Vote
    </th>
    </tr>
  {% for invention in object_list %}
  <tr id="{{ invention.idea_id }}">
    <td>
    <a href={{ invention.get_absolute_url }}>{{ invention.title }}</a>
    </td>
    <td>
    {{ invention.votes_count }}
    </td>
    <td>
    {{ invention.expires_at }}
    </td>    
    <td>
    <a href="http://www.quirky.com/user/{{ invention.user_id }}">{{ invention.user_id }}</a>
    </td> 
    <td>
    <a href="http://www.quirky.com/invent/{{ invention.id }}">View</a>
    </td> 
    <td>
    <a href="javascript:$.post('http://www.quirky.com/api/v2/ideations/{{ invention.id }}/votes')">Vote</a>
    </td> 
    </tr>
  {% endfor %}
  </table>
  </div>
  <div id="idea_info">
  <div id="idea_details">
  <div class="loading">Loading plot...</div>
  <div id="votes_plot" ></div>
  <div>
  <h2>Quirky's missing features</h2>
  <div id="missing features">
  <p>At www.quirky.com/invent, an online community submits thousands of ideas daily in return for a say in the selection and commercialization of these inventions. However, the process is crippled by a few notably absent features on the Quirky website which affect the visibility of invention ideas and thus their fate.</p>
  <p>Here, we are allowing users to browse the quirky database with more control over results. We have enabled:</p>
  <ul>
  <li>A variety of sorting options including viewing "trending" inventions</li>
  <li>The ability to skip pages of inventions</li>
  <li>Graphs of invention vote counts over time</li>
  </ul>
  <p>Soon, we intend to add:</p>
  <ul>
  <li>User flagging of inventions as obvious, impractical, already existant, or entertaining, and filtering by these flags. </li>
  <li>Quirky-wide statistics</li>
  <li>Keyboard navigation and single keypress voting</li>
  <li>More!</li>
  </ul>  
  </div>
  </div>
  </div>
 
  <!--
  <iframe id="quirky_frame" src="http://www.quirky.com"></iframe>
  -->
  </div>
  {% endblock body %}