{% extends "base.html" %}
<html>
  {% block head %}
    <title></title>
    <meta content="Quirktonomicon Inventions List">
    <script type='text/javascript' src='/static/js/flag.js' language='javascript'></script>
  {% endblock head %}  
  {% block body %}
  <div id="content">

  <div id="idea_list">
    <h2>Invention Ideas</h2>
  
  <div id="navigation">
    <form method="GET" action="/ideas">
    <table>
    <tr>
    <td>
        <h3>Order by</h3>
    </td>
    <td colspan="2">
    <h3>Filter</h3>
    </td>
    </tr>
    <tr>
    <td>
    
        <div>
            <select name="order_by">
                <option value="votes_in_latest_day">Trending (votes in last 24h)</option>
                <option value="votes_count">Total votes</option>            
                <option value="created_at">Date posted</option>
                <option value="funniest">Funniest</option>
            </select>
        
                <br />
        <select name="ascending">
                <option value="true">Ascending</option>
                <option value="false">Descending</option>
            </select>
        </div>
    </td>
    <td>
    
        <div>
        Min votes: <input type="number" name="minvotes" min="0" max="200" size="3"></input><br />
        Max votes: <input type="number" name="maxvotes" min="0" max="200" size="3"></input><br />
        All caps:
            <select name="allcaps">
                <option value=""></option>
                <option value="exclude">Exclude</option>
                <option value="require">Require</option>
            </select><br />
        </td>
        <td>
        <br />
        Junk:
            <select id="junk" name="junk">
                <option value=""></option>
                <option value="exclude">Exclude</option>
                <option value="require">Require</option>
            </select><br />
        Text:
            <select id="text_bool" name="text_bool">
                <option value=""></option>
                <option value="exclude">Exclude</option>
                <option value="require">Require</option>
            </select><br />
                    <input id="search_text" type="text" name="search_text" value=""></input>
            </td>            
    <td>
            <input type="submit" value="Go"></input>
    </td>
        </div>
    </td>

  </tr>
  </form>
  </table>
  
  </div>

  <table id="idea_list_table">
  
  <tr>
    <th>
      Title
    </th>
    <th>
      Votes
    </th>
    <th>
      Expiration
    </th>    
    <th>
      User
    </th>
    <th>
      View on Quirky
    </th>
    <th colspan="2">
      Flag as
    </th>
<!--    <th>
      Vote
    </th>-->
    </tr>
  {% for invention in object_list %}
  <tr id="{{ invention.idea_id }}">
    <td>
    <a href={{ invention.get_absolute_url }}>{{ invention.title | safe }}</a>
    </td>
    <td>
    {{ invention.votes_count }}
    </td>
    <td>
    {{ invention.expires_at }}
    </td>    
    <td>
    <a href="http://www.quirky.com/user/{{ invention.user_id }}">{{ invention.user_id }}</a>
    </td> 
    <td>
    <a href="http://www.quirky.com/invent/{{ invention.id }}">View</a>
    </td> 
    <td class="junk flagger">
    <a href="#">Junk
    {% if invention.junk %}
        ({{invention.junk}})
    {% endif %}
    </a>
    </td>
    <td class="funny flagger">
    <a href="#">Funny 
    {% if invention.funny %}
        ({{invention.funny}})
    {% endif %}
    </a>
    </td>    
<!--    <td>
    <a href="javascript:$.post('http://www.quirky.com/api/v2/ideations/{{ invention.id }}/votes')">Vote</a>
    </td>--> 
    </tr>
  {% endfor %}
  </table>
{% if is_paginated %}
        
        <div class="pagination vert_spacer">
        Page: 
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/ideas?page={{ page_obj.previous_page_number }}">prev<</a>
                {% endif %}
            <select id="page_selector" name="page">
                {% for page in page_obj.paginator.page_range %}
                {% ifequal page_obj.number page%}
                    <option value="{{page}}" selected="selected">
                    {{page}}
                    </option>                    
                {% else %}
                    <option value="{{page}}">
                    {{page}}
                    </option>
                {% endifequal %}
                {% endfor %}
                </select>
                {% if page_obj.has_next %}
                    <a href="/ideas?page={{ page_obj.next_page_number }}">next></a>
                {% endif %}
                
            </span>
        </div>
    {% else %}
        <div class="vert_spacer"></div>
    {% endif %}
    
  </div>
  <div id="idea_info">
    <div id="idea_details">
        <h2 id="title"></h2>
        <h3>Description</h3>
        <div id="description"></div>
        <h3>Problem</h3>
        <div id="problem"></div>
        <h3>Solution</h3>
        <div id="solution"></div>
    </div> 
    <div class="loading">Loading...</div>
    <div id="votes_plot" ></div> 
        <div id="missing_features">
            <h2>New tools for Quirky</h2>
            <div>
            <p>At www.quirky.com/invent, an online community submits thousands of ideas daily in return for a say in the selection and commercialization of these inventions. I felt there were some important features missing from the Quirky site and decided to try my hand at implementing them.</p>
            <p>Here, we are allowing users to browse the quirky database with more control over results. We have enabled:</p>
            <ul>
            <li>A variety of sorting options including viewing "trending" inventions</li>
            <li>The ability to skip pages of inventions</li>
            <li>Graphs of invention vote counts over time</li>
            </ul>
            <p>Soon, we intend to add:</p>
            <ul>
            <li>User flagging of inventions as obvious, impractical, already existant, or entertaining, and filtering by these flags. </li>
            <li>Quirky-wide statistics</li>
            <li>Keyboard navigation voting</li>
            <li>More!</li>
            </ul>  
            </div>
        </div>
        <!--
        <iframe id="quirky_frame" src="http://www.quirky.com"></iframe>
        -->
  </div>
  {% endblock body %}