{% extends "base.html" %}
<html>
  {% block head %}
    <title></title>
    <meta content="Quirktonomicon Inventions List">
    <style></style>
  {% endblock head %}  
  {% block body %}
  <h2>Invention Ideas</h2>
  
  
  
  <table>
  <tr>
    <th>
      Title
    </th>
    <th>
      Vote count
    </th>
    <th>
      Expires at
    </th>
    </tr>
  {% for invention in object_list %}
  <tr>
    <td>
    <a href={{ invention.get_absolute_url }}>{{ invention.title }}</a>
    </td>
    <td>
    {{ invention.votes_count }}
    </td>
    <td>
    {{ invention.expires_at }}
    </td>    
  </tr>
  {% endfor %}
  </table>
  
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/ideas?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/ideas?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    
  {% endblock body %}