h1 {
    color: #A7B67F;
    border-bottom: thin solid #FF0000;
    border-top: thin solid #FF0000;
    font-family: serif;
    margin: 0px;
}
#flavor_text {
    float: right;
}
#attribution {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#attribution, #version, #flavor_text{
    color: #A7B67F;
    font-family: monospace;
}

.canvas_container{
    width:90%;
    height:70%;
}
h2 {
    font-family: monospace;
    margin: 0px;
    padding: 0px;
}
h3 {
    font-family: monospace;
    margin-bottom: 0px;
    border-bottom: thin solid;
}
form {
    margin: 0;
}
body {
    background: url(/static/img/cutmat.png) no-repeat fixed right top #101010;
    color: 959595;
    font-family: arial;
    font-size: 13;
}
tbody {
    font-family: arial;
    font-size: 13;
}
th {
    text-align: left;
}
a {
    color: grey;
}
a:visited{
    color: #808090;
}
#idea_list{
    bottom: 0;
    position: absolute;
    left: 50%;
    right: 0px;
    top: 0;
    display: flex;
    flex-direction: column;
/*    overflow-y: scroll;
    overflow-x: hidden;*/
}
#idea_info {
    position: absolute;
    right: 50%;
    left:0px;
    border-top: thin #A7B67F solid;
    border-bottom: thin #A7B67F solid;
    border-left: thin #A7B67F solid;
    display: flex;
    flex-direction: column;
}
#quirky_frame{
    bottom: 0px;
    height: 50%;
    width: 100%;
    position: fixed;
}
table{
    border-collapse: collapse;
}
td, th{
    box-sizing:border-box;
    padding:2px;
    margin-top: 1px;
    margin-bottom: 1px;
    vertical-align: top;
    horizontal-align: left;
}
th{
    border-bottom: thin solid;
}

#idea_list_table tr.highlighted td{
    border-top: 1px #A7B67F solid;
    border-bottom: 1px #A7B67F solid;    
}

#idea_list_table tr.highlighted>td:last-of-type{
    border-right: 1px #A7B67F solid;
}
#idea_list_table tr:not(.highlighted) td:first-of-type{
    border-left: 1px #A7B67F solid;
}
#idea_list_table tr.highlighted td:last-of-type{
    border-top: 1px #A7B67F solid;
    border-bottom: 1px #A7B67F solid;
    border-left: none;
}
.vert_spacer, #navigation, #idea_list>h2, #idea_list_table th:first-of-type {
    border-left: 1px #A7B67F solid;
}
#navigation{
    padding-left: 0;
}

#content {
    bottom: 0;
    position: absolute;
    top: 90px;
    left:40px;
    right:40px;
}

#navigation table{
    width: 100%
}

div{
    padding-left: 20px;
/*     padding-top: 8px; */
}
#idea_list, #idea_info, #missing_features{
    margin: 0px;
    padding: 0px;
    height: 95%;
}

#votes_plot{
    height:100px;
    flex: 1
}
.vert_spacer{
    flex: 0.8;
}

#word_cloud span:hover{
    color: white !important;
    transition-property: color;
    transition-duration: 1s;
}

/*jqplot*/
.jqplot-table-legend{
    background-color: transparent !important;
}