<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.jqplot.min.css" />
    <script language="javascript" type="text/javascript" src="/static/js/jqplot/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jqplot/jquery.jqplot.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>  
    <script language="javascript" type="text/javascript" src="/static/js/base.js"></script>
    
  {% block head %}
  {% endblock head %}  
  </head>
  <body>
  <h1>Q U I R K T O N O M I C O N</h1>
  <span id="flavor_text">implementing Quirky's missing features</span>
  {% block body %}
  {% endblock body %}
  </body>
</html>