<html>
  <head>
    <title></title>
    <meta content="Quirktonomicon Inventions List">
    <style></style>
  </head>
  <body>
  <h1>Invention ideas</h1>
  <table>
  <tr>
    <th>
      Title
    </th>
    <th>
      Vote count
    </th>
    <th>
      Expires at
    </th>
    </tr>
  {% for invention in object_list %}
  <tr>
    <td>
    {{ invention.title }}
    </td>
    <td>
    {{ invention.latest_vote_count }}
    </td>
    <td>
    {{ invention.title }}
    </td>    
  </tr>
  {% endfor %}
  </table>
  
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/cars?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/cars?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    
  </body>
</html>